:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --grisClaro: #dfe9f3;
}

/* GLOBALES */
/*1 rem = 10px* equivalencia de pixeles a rem*/
/* Hack para box sizing */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
  background-image: linear-gradient(
    to top,
    var(--grisClaro 0%, var(--blanco) 100%)
  );
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
}
@media (min-width: 480px) {
  .boton {
    width: auto;
  }
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

/* TIPOGRAFIA */
/*Definicion de reglas para la tipografia*/

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

/* TITULOS */
.titulo span {
  font-size: 2rem;
}

/* NAVEGACION PRINCIPAL */
.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion-principal a {
  display: block;
  text-align-last: center;
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

.navegacion-principal a:hover {
  background: var(--primario);
  color: var(--oscuro);
}

/* HERO */
.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
}

/* SERVICIOS */
/*Cuando se vea en una pantalla se utilizara esta visualizacion */
@media (min-width: 768px) {
  .servicios {
    display: grid;
    /* grid-template-columns: 33.3%, 33.3%, 33.3%;  => version 1 */
    /* grid-template-columns: 1fr 1fr 1fr; => version mejorada */
    grid-template-columns: repeat(3, 1fr); /*compacta*/
    column-gap: 1rem; /*separacion entre las columnas*/
  }
}
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios h3 {
  color: var(--secundario);
  font-weight: normal;
}
.servicio p {
  line-height: 2;
  text-align: center;
}
.servicios .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
